<template>
   <div>
       <p>{{msg}}</p>
       <world-component></world-component>
   </div>
   
</template>
<script>
    import WorldComponent from './WorldComponent.vue';
    
    export default {
        components : { WorldComponent },
        name : 'hi-man',
        data: function() {
            return { msg : 'hellow' }
        }
    }
</script>
<style scoped>
    div {
        color : goldenrod;
    }
</style>